<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean id = "student" class = "com.coforge.model.Student">
	<property name = "studentId" value = "101"></property>
	<property name="studentName" value = "sai"></property>
	<property name="subjects">
	<list>
	<value>Java</value>
	<value>SpringCore</value>
	<value>Hibernate</value>
	<value>MySQL</value>
	<value>React</value>
	</list>
	</property>
	<property name="skills">
	<set>
	<value>Communication</value>
	<value>Problem Solving</value>
	<value>Team Work</value>
	<value>Java</value>
	</set>
	</property>
	<property name="marks">
	<map>
	<entry key = "Java" value = "95"></entry>
	<entry key = "Spring" value = "90"></entry>
	<entry key = "Hibernate" value = "88"></entry>
	<entry key = "MySQL" value = "92"></entry>
	<entry key = "React" value = "85"></entry>
	</map>
	</property>
	<property name="address" ref = "address1"></property>
	</bean>
	
	<bean id = "address1" class = "com.coforge.model.Address">
	<property name="city" value = "city1"></property>
	<property name = "state" value = "state1"></property>
	</bean>	

</beans>